/*aside {*/
/*  margin-left: 15px;*/
/*  float: right;*/
/*}*/

img {
  border-radius: 0;
  border: none;
  box-shadow: none;
  outline: 0;
}

p {

}
a {
  text-decoration: none;
}

h1 {
  margin-bottom: 1.3em;
}

.content-box {
  width: 60%;
}
.content-box .content-box {
  width: 40%;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
}

.contact-container {
  text-align: center;
}
