/*aside {*/
/*  margin-left: 15px;*/
/*  float: right;*/
/*}*/

/*img {*/
/*  border-radius: 8px;*/
/*  outline: 3px solid #2892D7;*/
/*}*/

p {

}
a {
  text-decoration: none;
}

h1 {
  margin-bottom: 1.3em;
}

.content-box {
  width: 50%;
}
.contact-container {
  text-align: center;
}
