.nav-bar {
  background-color: #2892D7;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #C5C3C6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.background-container {
  background-image: linear-gradient(45deg, #62CFF4 50%, #2C67F2);
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.cover-container {
  margin: auto;
  padding-top: 20px;
  width: 97%;
  height: 90%;
  background-color: #46494C;
}
